<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="cloud"></clr-icon>
        <span class="title">&nbsp;Rh1n0 demo</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="..." class="nav-link"><span class="nav-text">Home</span></a>
    </div>
  </header>


  <div class="content-container">
    <div class="content-area">
    </div>
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" >
      <a clrVerticalNavLink href="https://www.thehumblelab.com" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="upload-cloud"></clr-icon>Problem Tracker</a>
      <a clrVerticalNavLink href="http://www.vaficionado.com/" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="heart-broken"></clr-icon>Warnings</a>
      <a clrVerticalNavLink href="https://www.digitalvspace.com/" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="user"></clr-icon>Rano's Blog</a>
      <div class="nav-divider"></div>
      <a clrVerticalNavLink href="https://twitter.com/" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="talk-bubbles"></clr-icon>Rh1n0 Twitter</a>
    </clr-vertical-nav>
  </div>


</div>


